<div class="aula two_way_data_binding">
  <h2>two way data binding</h2>
  <div class="flex-col">
    <label>Nome (input e output):</label>
    <input
      type="text"
      [ngModel]="name"
      (ngModelChange)="handleInputChange($event)"
    />
    <label>Nome (two way data binding):</label>
    <input type="text" [(ngModel)]="name" />
    <label>Nome (two way data binding e output):</label>
    <input
      type="text"
      [(ngModel)]="name"
      (ngModelChange)="handleInputChange($event)"
    />
  </div>
  <h2>Nome digitado: {{ name }}</h2>
</div>
<div class="aula NgIf">
  <h2>NgIf</h2>
  <button (click)="toggleProp()">Toggle</button>
  <div style="background-color: green" *ngIf="minhaProp">1 Sou uma div!</div>
  <div style="background-color: orange" *ngIf="isTruthy()">
    2 Sou uma div! (invocado por método)
  </div>
  <div style="background-color: yellow" *ngIf="isFalsy()">
    3 Sou uma div! (invocado por método)
  </div>
  <div style="background-color: red" *ngIf="minhaProp; else meuTemplate">
    4 Sou uma div! (com if)
  </div>
  <ng-template #meuTemplate>
    <div style="background-color: red">5 Sou uma outra div! (else)</div>
  </ng-template>

  <ng-container *ngIf="minhaProp; then meuTemplate2; else meuOutroTemplate">
  </ng-container>
  <ng-template #meuTemplate2>
    <div style="background-color: grey">6 Sou a div then!</div>
  </ng-template>
  <ng-template #meuOutroTemplate>
    <div style="background-color: grey">7 Sou a div else!</div>
  </ng-template>
</div>
<div class="aula NgFor">
  <h2>NgFor</h2>
  <div class="list">
    <app-person
      *ngFor="
        let person of listPeople;
        let i = index;
        let isFirst = first;
        let isLast = last;
        let isOdd = odd
      "
      [personName]="person.name"
      [personAge]="person.age"
      [personIndex]="i"
      [isFirst]="isFirst"
      [isLast]="isLast"
      [isOdd]="isOdd"
      [isSelected]="personSelectedIndex === i"
      (personSelected)="selectPerson($event)"
    ></app-person>
  </div>
</div>
<div class="aula NgStyle">
  <h2>NgStyle</h2>
  <h3
    [ngStyle]="{
    'font-size': fontSize + 'px',
    color: textColor,
  }"
  >
    Sou um h3
  </h3>
  <h3 [ngStyle]="stylesObj">Sou um h3</h3>
  <h3 [style.font-size.px]="fontSize" [style.color]="textColor">
    Sou outro h3
  </h3>
  <h3 [style]="stylesString">Sou um terceiro h3</h3>

  <button (click)="increaseFontSize()">+A</button>
  <button (click)="toggleFontColor()">{{ buttonText }}</button>
</div>
<div class="aula NgClass">
  <h2>NgClass</h2>
  <div class="grid">
    <h3
      [ngClass]="{
      'is-big is-green': isGreen,
      'is-orange': !isGreen,
    }"
    >
      Sou um h3
    </h3>
    <h3
      [class]="{
      'is-green': isGreen,
      'is-orange': !isGreen,
    }"
    >
      Sou um h3
    </h3>
    <!-- string -->
    <h3 [ngClass]="'is-big is-green'">Sou um h3</h3>
    <h3 [class]="'is-big is-green'">Sou um h3</h3>
    <!-- array -->
    <h3 [ngClass]="['is-big', 'is-green']">Sou um h3</h3>
    <h3 [class]="['is-big', 'is-green']">Sou um h3</h3>
    <!-- objetos -->
    <h3 [ngClass]="{ 'is-green': isGreen, 'is-orange': !isGreen }">
      Sou um h3
    </h3>
    <h3 [class]="{ 'is-green': isGreen, 'is-orange': !isGreen }">Sou um h3</h3>
    <!-- Diferença (objetos) -->
    <h3 [ngClass]="{ 'is-big is-green': isGreen, 'is-orange': !isGreen }">
      Sou um h3
    </h3>
    <h3
      [class]="{
        'is-big': isGreen,
        'is-green': isGreen,
        'is-orange': !isGreen
      }"
    >
      Sou um h3
    </h3>
    <h3 [ngClass]="{ 'is-green': isGreen }">Sou um h3</h3>
    <h3 [class.is-green]="isGreen">Sou um h3</h3>
  </div>

  <button (click)="setToGreen()">Verde</button>
  <button (click)="setToOrange()">Laranja</button>
</div>
