<div class="aula two_way_data_binding">
  <h1>two way data binding</h1>
  <div class="flex-col">
    <label>Nome:</label>
    <input
      type="text"
      [ngModel]="name"
      (ngModelChange)="handleInputChange($event)"
    />
    <label>Nome:</label>
    <input type="text" [(ngModel)]="name" />
    <label>Nome:</label>
    <input
      type="text"
      [(ngModel)]="name"
      (ngModelChange)="handleInputChange($event)"
    />
  </div>
  <h2>Nome digitado: {{ name }}</h2>
  <!--
    [ngModel]="name"
    (ngModelChange)="handleInputChange($event)"
  -->
</div>
